@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;700&display=swap");

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

.heading-font {
  font-family: "Space Grotesk", sans-serif;
}

@keyframes shimmer {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300%);
  }
}

.animate-shimmer {
  animation: shimmer 12s linear infinite;
}